


img {
  width: 100%;
  border-radius: 10%;
  border-style: hidden;
  margin: auto;
}


#email {
  color: darkgray;
  text-decoration: none;
}

#experience {
  font-style: italic;
  font-weight: lighter;
  font-family: 'Benne', serif;
  color: #4a5059;
}

h4 {
  color: ##28292b;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 1.2em;
  font-family: 'Times New Roman';
  font-weight: bold;
}

#job {
  font-style: italic;
}

p {
  margin-left: 40px;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: darkgray solid 2px;
  font-style: italic;
  font-family: 'Benne', serif;
}

#skills {
  margin-top: -0;
  font-style: italic;
  font-weight: lighter;
  font-family: 'Benne', serif;
  margin-top: 45px;
  color: #4a5059;
}

.skill-p {
  border-bottom: none;
}

#education {
  margin-top: -0;
  font-style: italic;
  font-weight: lighter;
  font-family: 'Benne', serif;
  margin-top: 45px;
  color: #4a5059;
}

#last-skill {
  border-bottom: darkgray solid 2px;
}

.footer {
  margin: auto;
  border-bottom: none;
  text-align: center;
  font-size: small;
  font-style: normal;
  text-transform: uppercase;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-item {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-brand {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: oblique;
}

h1 {
  text-align: center;
  font-family: 'Benne', serif;
}

#prof {
  text-align: center;
  font-family: 'Benne', serif;
}
 #jumber {
   margin-top: 50px;
   margin-bottom: 50px;
 }
